Saved_data/jade_elecmom_n_full.parquet
Saved_data/juno_eph_orb_jso_full.parquet
testpicbro.png
Saved_data/mav_xyz_mso1s_chunk_20140922-20150101.parquet
/Saved_data
/Data_plots
/Saved
/processed_data
combined_odens.png
combined_hdens.png
combined.png
idk.py
figure_out_tree.py
idk.py
figure_out_tree.py
average_plot_ignore.py
average_plot copy.py
average_plot copy.py
